<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
/>
<div class="footer">
  <div class="footer-content">
    <p class="footer-text">
      Built with 💚 © 2024 Hendrius Félix. All rights reserved.
    </p>
    <div class="social-icons">
      <a
        href="mailto:hendriusfelix.dev@gmail.com?subject=Hello%20World&body=This%20is%20the%20body%20of%20the%20email"
        target="_blank"
      >
        <i
          class="bi bi-envelope"
          data-toggle="tooltip"
          data-placement="right"
          title="hendriusfelix.dev@gmail.com"
        >
        </i>
      </a>
      <a href="https://wa.me/5575982466703" target="_blank"
        ><i
          class="bi bi-whatsapp"
          data-toggle="tooltip"
          data-placement="right"
          title="+55(75) 98246-6703"
        ></i
      ></a>

      <a href="https://www.linkedin.com/in/hendriusfelix/" target="_blank">
        <i
          class="bi bi-linkedin"
          data-toggle="tooltip"
          data-placement="right"
          title="linkedin.com/in/hendriusfelix"
        ></i>
      </a>
    </div>
  </div>
</div>
