<nav class="navbar">
  <div class="nav-brand">
    <a href="/">Oeendel's Live Chat</a>
  </div>
  <ul class="nav-links">
    <li><a href="/chat-geral">Chat</a></li>
    <li>
      <a href="https://www.hendriusfelix.com.br/" target="_blank">About Me</a>
    </li>
  </ul>
  <div class="auth-buttons">
    <a href="/login"><button class="nav-btn">Login</button></a>
    <a href="/register"><button class="nav-btn">Register</button></a>
    <button class="nav-btn logout-btn">Logout</button>
  </div>
</nav>
