<script type="module" src="../../assets/js/index.js"></script>
<link rel="icon" href="assets/img/icon/favicon.ico" type="image/x-icon" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<link rel="stylesheet" href="../assets/static/styles.css" />
<i class="menu-icon material-symbols-outlined" style="display: none"> menu </i>
<nav class="navbar">
  <div class="nav-brand">
    <a href="/"><img src="../../assets/img/favicon.ico" alt="" /></a>
  </div>
  <ul class="nav-links">
    <li><a href="/chat-geral">Chat</a></li>
    <li>
      <a href="https://www.hendriusfelix.com.br/" target="_blank">About Me</a>
    </li>
  </ul>
  <div class="auth-buttons">
    <a href="/login"><button class="nav-btn">Login</button></a>
    <a href="/register"><button class="nav-btn">Register</button></a>
    <button class="nav-btn logout-btn">Logout</button>
  </div>
</nav>
