<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/static/styles.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="icon" href="assets/img/icon/favicon.ico" type="image/x-icon" />

    <title>Oeendel's Live Chat</title>
  </head>
  <body>
    <div class="welcome-container">
      <i id="warning-icon" class="material-symbols-outlined"> warning </i>

      <div id="warning-message">
        <div class="warning-content">
          <p>
            Esse aplicativo está em fase de desenvolvimento. Não compartilhe
            informações pessoais nem confidenciais!
          </p>
          <button id="close-warning">Fechar</button>
        </div>
      </div>

      <div class="welcome-messages">
        <img src="../assets/img/chat.png" alt="chat image" />
        <div class="slide-messages">
          <span><h1>Welcome to Oeendel's Live Chat.</h1></span>
          <span><h1>Make an account!</h1></span>
          <span><h1>Chat any time!</h1></span>
        </div>
      </div>
      <p>
        Connect with your friends, make new friends in a fast and secure way!
      </p>

      <div class="action-button">
        <h3>Make an account and start chating</h3>
        <a href="/chat-geral"><button class="start-btn">Chat</button></a>
        <a href="/login"><button class="start-btn">Login</button></a>
        <a href="/register"><button class="start-btn">Register</button></a>
      </div>
    </div>

    <script type="text/javascript">
      const slides = document.querySelectorAll("span");
      let currentSlide = 0;

      slides[currentSlide].classList.add("show");
      const showSlide = () => {
        slides.forEach((slide) => {
          slide.classList.remove("show");
        });

        slides[currentSlide].classList.add("show");
        currentSlide = (currentSlide + 1) % slides.length;
      };

      setInterval(showSlide, 3000);

      const warningIcon = document.getElementById("warning-icon");
      warningIcon.addEventListener("click", () => {
        const warningContainer = document.getElementById("warning-message");
        warningContainer.classList.add("show-warning");
      });

      // Fechar o aviso
      document.getElementById("close-warning").addEventListener("click", () => {
        document
          .getElementById("warning-message")
          .classList.remove("show-warning");
      });
    </script>
  </body>
</html>
