<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="assets/img/icon/favicon.ico" type="image/x-icon" />
    <script type="module" src="../assets/js/index.js"></script>
    <title>Oeendel's Live Chat</title>
  </head>
  <body>
    <%- include("./components/navbar") %>
    <main>
      <div class="welcome-container">
        <i id="warning-icon" class="material-symbols-outlined"> warning </i>

        <div id="warning-message">
          <div class="warning-content">
            <p>
              Esse aplicativo está em fase de desenvolvimento. Não compartilhe
              informações pessoais nem confidenciais!
            </p>
            <button id="close-warning">Fechar</button>
          </div>
        </div>

        <div class="welcome-messages">
          <img src="../assets/img/chat.png" alt="chat image" />
          <div class="slide-messages">
            <span><h1>Welcome to Oeendel's Live Chat.</h1></span>
            <span><h1>Make an account!</h1></span>
            <span><h1>Chat any time!</h1></span>
          </div>
        </div>
        <p>
          Connect with your friends, make new friends in a fast and secure way!
        </p>
      </div>

      <div class="alert" id="alert">
        <div class="alert-content">
          <span>
            <i class="material-symbols-outlined"> warning </i>
            <h2 class="alert-text"></h2>
          </span>
        </div>
        <div class="actions">
          <button class="close-alert">Fechar</button>
        </div>
      </div>
    </main>
    <%- include("./components/footer") %>
  </body>
</html>
